body {
    font-family: Arial;
    margin: 0;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header */
header {
    background: darkred;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation Bar */
nav {
    background: orange;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Sections */
section {
    padding: 20px;
}

/* Gallery Styling */
#gallery {
    text-align: center;
}

/* Each Image Box */
#gallery div {
    display: inline-block;
    margin: 15px;
}

/* Image Styling */
#gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#contact a {
    background: green;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
/* Banner Image */
#banner img {
    width: 50%;
    height: 200px;
    object-fit: cover;
}
/* Google Map Styling */
iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-top: 15px;
}
